@model Modelo.AlumnoCurso

@{
    ViewBag.Title = "Editando Asignaciones";
}

<center>
    <h2>Editando Asignaciones</h2>
</center>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Alumno" aria-controls="Alumno" role="tab" data-toggle="tab">información</a></li>
</ul>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="Alumno">
            <h4>AlumnoCurso</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="panel panel-default">
                <div class="panel-heading">Asignación</div>
                <div class="panel-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Alumno_id, "Alumno_id", htmlAttributes: new { @class = "control-label col-md-2" })
                        
                            @Html.DropDownList("Alumno_id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Alumno_id, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Curso_id, "Curso_id", htmlAttributes: new { @class = "control-label col-md-2" })
                        
                            @Html.DropDownList("Curso_id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Curso_id, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nota, htmlAttributes: new { @class = "control-label col-md-2" })
                        
                            @Html.EditorFor(model => model.Nota, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nota, "", new { @class = "text-danger" })
                        
                    </div>

                </div>
            </div>

            <div class="text-lefth">
                <a class="btn btn-sm btn-danger" href="~/AlumnoCursoes/">Cancelar</a>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Guardar  </button>
            </div>

        </div>
        </div>
        }

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
