@model IEnumerable<Modelo.AlumnoCurso>

@{
    ViewBag.Title = "Asignaciones";
}


<h2 class="page-header">
    <a href="~/AlumnoCursoes/Create" class="btn btn-default pull-right">
        <span class="glyphicon glyphicon-plus-sign"></span>Nueva Asignación
    </a>
    Asignaciones
</h2>
<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alumno.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alumno.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota)
        </td>
        <td>
            <a class="btn  btn-default " href="~/AlumnoCursoes/Details/@item.id" data-toggle="tooltip" data-placement="top" title="Ver Detalles">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a class="btn  btn-primary " href="~/AlumnoCursoes/Edit/@item.id" data-toggle="tooltip" data-placement="top" title="Editar Asignaciones">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a onclick="return confirm('¿Desea eliminar?');" class="btn btn-danger" href="~/AlumnoCursoes/Delete/@item.id" data-toggle="tooltip" data-placement="top" title="Eliminar Asignación">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
    </tr>
}

</table>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
